@media only screen and (max-width:1300px){
    .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper,
    .container_inner .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper{
        width:40%;
    }
}

@media only screen and (min-width: 1000px){
    .grid2 .woocommerce.columns-3 ul.products li.product,
    .grid2 .woocommerce.columns-4 ul.products li.product,
    .grid2 .woocommerce.columns-5 ul.products li.product{
        width: 30.99906629318394%;
        margin: 0 3.50140056022409%  3.50140056022409%  0;
     }
	 
	.grid2 .woocommerce.columns-3 ul.products.article_no_space li.product,
    .grid2 .woocommerce.columns-4 ul.products.article_no_space li.product,
    .grid2 .woocommerce.columns-5 ul.products.article_no_space li.products{
		width:33.333%;
        margin:  0;
	}
    /*FOR SHOP if there is not sidebar, .container_inner is direct parent of ul - .container_inner > ul */
    /*FOR SHORTCODE GRID if there is not sidebar, .container_inner > div:not(.grid2) */
    /*FOR SHORTCODE FULL-WIDTH if there is not sidebar, .full_width_inner > div:not(.grid2) */
    /*FOR SHOP SINGLE FULL-WIDTH .single-product */

    .woocommerce.columns-2 ul.products li.product:nth-child(2n),
    .woocommerce.columns-3 .container_inner > ul.products li.product:nth-child(3n),
    .container_inner > div:not(.grid2) .woocommerce.columns-3 ul.products li.product:nth-child(3n),
    .full_width_inner > div:not(.grid2) .woocommerce.columns-3 ul.products li.product:nth-child(3n),
	.woocommerce.columns-3 .full_width_inner > ul.products li.product:nth-child(3n),
    .woocommerce.columns-3.single-product ul.products li.product:nth-child(3n),
    .woocommerce.columns-4 .container_inner > ul.products li.product:nth-child(4n),	
    .container_inner > div:not(.grid2) .woocommerce.columns-4 ul.products li.product:nth-child(4n),
    .full_width_inner > div:not(.grid2) .woocommerce.columns-4 ul.products li.product:nth-child(4n),
	.woocommerce.columns-4 .full_width_inner > ul.products li.product:nth-child(4n),
    .woocommerce.columns-4.single-product ul.products li.product:nth-child(4n),
    .woocommerce.columns-5 ul.products li.product:nth-child(5n),
    .woocommerce.columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(2n),
    .woocommerce.columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(3n),
    .grid2 .woocommerce.columns-3 ul.products li.product:nth-child(3n),
    .grid2 .woocommerce.columns-4 ul.products li.product:nth-child(3n),
    .grid2 .woocommerce.columns-5 ul.products li.product:nth-child(3n){
        margin: 0 0 2.272727272727273%;
    }

	.woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
    .woocommerce.columns-3 .container_inner > ul.products li.product:nth-child(3n+1),
    .container_inner > div:not(.grid2) .woocommerce.columns-3  ul.products li.product:nth-child(3n+1),
    .full_width_inner > div:not(.grid2) .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
	.woocommerce.columns-3 .full_width_inner > ul.products li.product:nth-child(3n+1),
    .woocommerce.columns-4 .container_inner > ul.products li.product:nth-child(4n+1),
    .container_inner > div:not(.grid2) .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
    .full_width_inner > div:not(.grid2) .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
	.woocommerce.columns-4 .full_width_inner > ul.products li.product:nth-child(4n+1),
    .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
    .woocommerce.columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(2n+1),
    .woocommerce.columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(3n+1),
    .grid2 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
    .grid2 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
    .grid2 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1){
        clear: both;
    }

    .grid2 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
    .grid2 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
    .grid2 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1){
		clear: none;
	}
	
    .grid2 .woocommerce.columns-4 ul.products li.product:nth-child(4n),
    .grid2 .woocommerce.columns-5 ul.products li.product:nth-child(5n){
		margin: 0 3.50140056022409%  3.50140056022409%  0;
	}
	
	.grid2 .woocommerce.columns-4 ul.products.article_no_space li.product:nth-child(4n),
    .grid2 .woocommerce.columns-5 ul.products.article_no_space li.product:nth-child(5n){
		margin: 0;
	}
	
	.woocommerce-account .woocommerce form{
		width:50% !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1100px){

	.woocommerce aside.sidebar .widget h4 {
		padding: 12px 18px;
		line-height: 20px;
	}	
	
	.woocommerce aside ul.product_list_widget li img, 
    aside ul.product_list_widget li img {
		display: block;
		margin-right: 5px;
		margin-bottom: 15px;
	}	
	
	.woocommerce aside .widget .star-rating,
	aside .widget .star-rating,
	.woocommerce-page aside .widget .star-rating {
		margin: auto;
	}

}

@media only screen and (max-width: 1100px){
    .woocommerce .widget_shopping_cart_content p.buttons a {
        display: block;
        text-align: center;
        width: auto !important;
    }

    .woocommerce .widget_shopping_cart_content a.checkout {
        float: none;
        margin-top: 10px;
    }
    
    .woocommerce form.check-login .form-row {
        width: 48.69791666666667%;
        margin-right: 2.604166666666667%;
    }

    .woocommerce .summary {
        margin-bottom: 45px;
    }
	
    .woocommerce #customer_login .col-1,
    .woocommerce #customer_login .col-2 {
        float: none;
        width: auto;
    }

    .woocommerce #customer_login .col-1 {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .woocommerce .col-1, .woocommerce .col-2 {
        float: none;
        width: 100%;
    }
    
    .woocommerce-account .col-1, .woocommerce-account .col-2 {
        float: left;
    }
    
    .woocommerce .col-1 {
        margin-right: 0;
    }
    
    .woocommerce form.check-login .form-row.form-row-last {
        margin-right: 0;
    }
    
    .woocommerce form.check-login input[type="text"],
    .woocommerce form.check-login input[type="password"] {
        width: 91% !important;
    }
    
    .woocommerce-checkout .addresses .col-1, 
    .woocommerce-checkout .addresses .col-2,
    .woocommerce-account .addresses .col-1,
    .woocommerce-account .addresses .col-2 {
        float: left;
        width: 48.69791666666667%;
        margin-right: 2.604166666666667%;
    }
    
    .woocommerce-checkout .addresses .col-2,
    .woocommerce-account .addresses .col-2 {
        margin-right: 0;
    }
    
    .woocommerce-checkout table.shop_table,
    .woocommerce-account table.shop_table {
        width: 100%;
    }
    
    .woocommerce-account table.shop_table {
        width: 87%;
    }
}
@media only screen and (max-width: 1000px){
    .shopping_cart_outer:hover .shopping_cart_dropdown{
        display: none;
        visibility: hidden;
    }
    .header_top .shopping_cart_outer{
        float: none;
    }
    .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper,
    .container_inner .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper{
        width:50%;
        display:inline-block;
    }
    .woocommerce ul.product_list_widget li{
        display:block;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px){
	.woocommerce.columns-3 .container_inner > ul.products.article_no_space li.product:nth-child(3n+1),
	.container_inner > div:not(.grid2) .woocommerce.columns-3 ul.products.article_no_space li.product:nth-child(3n+1),
	.grid2 .woocommerce.columns-3 ul.products.article_no_space li.product:nth-child(3n+1),
	.grid2 .woocommerce.columns-4 ul.products.article_no_space li.product:nth-child(3n+1),
	.grid2 .woocommerce.columns-5 ul.products.article_no_space li.product:nth-child(3n+1){
		clear: none !important;
	}
    footer .woocommerce ul.product_list_widget li > div{
        display: block;
    }

    footer .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper,
    footer .container_inner .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper{
        width:auto;
        padding: 0;
    }
}

@media only screen and (max-width: 1000px) {

    .woocommerce.columns-3 ul.products li.product,
    .woocommerce.columns-3 .woocommerce_with_sidebar ul.products li.product,
    .woocommerce.columns-4 ul.products li.product,
    .woocommerce.columns-4 .woocommerce_with_sidebar ul.products li.product,
	.woocommerce.columns-5 ul.products li.product,
    .woocommerce-page .related.products ul.products li.product{
		width: 48.89%;
		margin: 0 2.22%  2.22%  0;
	}
	
	.woocommerce.columns-3 ul.products.article_no_space li.product,
    .woocommerce.columns-3 .woocommerce_with_sidebar ul.products.article_no_space li.product,
    .woocommerce.columns-4 ul.products.article_no_space li.product,
    .woocommerce.columns-4 .woocommerce_with_sidebar ul.products.article_no_space li.product,
	.woocommerce.columns-5 ul.products.article_no_space li.product,
    .woocommerce-page .related.products ul.products.article_no_space li.product{
		width: 50%;
		margin: 0;
	}

    .woocommerce.columns-3 ul.products li.product:nth-child(2n),
    .woocommerce.columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(2n),
    .woocommerce.columns-4 ul.products li.product:nth-child(2n),
    .woocommerce.columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(2n),
	.woocommerce.columns-5 ul.products li.product:nth-child(2n),
    .woocommerce-page .related.products ul.products li.product:nth-child(2n){
		margin: 0 0 2.22%;
	}

    .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
    .woocommerce.columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(2n+1),
    .woocommerce.columns-4 ul.products li.product:nth-child(2n+1),
    .woocommerce.columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(2n+1),
	.woocommerce.columns-5 ul.products li.product:nth-child(2n+1),
    .woocommerce-page .related.products ul.products li.product:nth-child(2n+1){
		clear: both;
	}
    
    .woocommerce div.summary div[itemprop="description"] {
        margin: 25px 0;
    }

    .woocommerce div.product .cart {
        margin-bottom: 25px;
    }
	
    .woocommerce #reviews h2 {
        margin-bottom: 20px;
    }
    
    .woocommerce form.checkout table.shop_table {
        width: 100%;
    }
    
    .woocommerce aside ul.product_list_widget li img {
        float: none;
		max-width: 90px;
    }
    
    .woocommerce .addresses header a.edit {
        position: static;
        margin-top: 15px;
    }
	
    .woocommerce .widget_price_filter .price_label, 
    .woocommerce-page .widget_price_filter .price_label,
    .woocommerce .widget_price_filter .button, 
    .woocommerce-page .widget_price_filter .button {
        float: left;
    }
    
    .woocommerce .widget #searchform input[type="text"],
	aside.sidebar .widget_product_search form#searchform input#s {
		width: 80%;
	}

    .woocommerce .widget #searchsubmit,
    aside.sidebar .widget_product_search form#searchform input#searchsubmit{
        width: 12%;
    }

    .woocommerce table.cart td.actions input[type="submit"] {
        letter-spacing: 0;
    }

    .woocommerce ul.product_list_widget li .product_list_widget_info_wrapper{
        padding-left: 0;
    }   

    .woocommerce ul.product_list_widget li {
        margin-bottom: 20px;
    }

    .product_list_widget_info_wrapper {    
      width: 40%;
      display: inline-block !important;
      margin-left: 10px
    }
    .product_list_widget_info_wrapper:after {    
      width: 100% !important;
    }
    .woocommerce aside ul.product_list_widget li img {    
      width: 100% !important;    
      margin: auto;
    }
	
}
@media only screen and (min-width: 768px) and (max-width: 1400px){
	
	.vertical_menu_width_290.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product,
	.vertical_menu_width_350.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product,
	.vertical_menu_width_400.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product{
		width: 48.89%;
		margin: 0 2.22%  2.22%  0;
	}
	
	.vertical_menu_width_290.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products.article_no_space li.product,
	.vertical_menu_width_350.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products.article_no_space li.product,
	.vertical_menu_width_400.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products.article_no_space li.product{
		width: 50%;
		margin: 0;
	}

    .vertical_menu_width_290.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(2n),
	.vertical_menu_width_350.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(2n),
	.vertical_menu_width_400.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(2n){
		margin: 0 0 2.22%;
	}

    .vertical_menu_width_290.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(2n+1),
	.vertical_menu_width_350.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(2n+1),
	.vertical_menu_width_400.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(2n+1){
		clear: both;
	}
	
	.vertical_menu_width_290.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(3n+1),
	.vertical_menu_width_350.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(3n+1),
	.vertical_menu_width_400.vertical_menu_enabled .full_width .woocommerce_with_sidebar ul.products li.product:nth-child(3n+1){
		clear: none;
	}
	
}

@media only screen and (max-width: 768px) {
    .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper, .container_inner .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper {    
    width: 20%;    
    float: left;
    }
    .woocommerce ul.product_list_widget li .product_list_widget_info_wrapper {    
    width: 80%;    
    float: left;
    }
    .woocommerce ul.product_list_widget li .product_list_widget_info_wrapper .amount {    
    display: inline-block;    
    margin-bottom: 20px;
    }
    .product_list_widget_info_wrapper, .woocommerce aside ul.product_list_widget li img {    
    margin-left: 0;    
    margin-right: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px){

	.woocommerce aside ul.product_list_widget li img, 
    aside ul.product_list_widget li img {
		float: none;
		display: block;
		margin:auto;
		margin-right: 0;
		margin-bottom: 15px;
		margin: auto;
	}	
	
	.woocommerce aside .widget .star-rating,
	aside .widget .star-rating,
	.woocommerce-page aside .widget .star-rating {
		margin: auto;
	}
	
	.woocommerce aside.sidebar ul.product_list_widget li,
	aside ul.product_list_widget li {
		text-align: center;
	}
    
    .woocommerce aside ul.cart_list li,
    .woocommerce-page aside ul.cart_list li {
        text-align: left;
    }
    
    .woocommerce aside .widget .star-rating, 
    .woocommerce-page aside .widget .star-rating {
        margin-left: auto;
        margin-right: auto;
    }	
	
	.vertical_menu_width_290.vertical_menu_enabled .full_width .full_width_inner .woocommerce_with_sidebar > .column1,
	.vertical_menu_width_350.vertical_menu_enabled .full_width .full_width_inner .woocommerce_with_sidebar > .column1,
	.vertical_menu_width_400.vertical_menu_enabled .full_width .full_width_inner .woocommerce_with_sidebar > .column1,
	.vertical_menu_width_290.vertical_menu_enabled .full_width .full_width_inner .woocommerce_with_sidebar > .column2,
	.vertical_menu_width_350.vertical_menu_enabled .full_width .full_width_inner .woocommerce_with_sidebar > .column2,
	.vertical_menu_width_400.vertical_menu_enabled .full_width .full_width_inner .woocommerce_with_sidebar > .column2{
		width:100%;
	}

	.woocommerce.single-product .cart_inner_holder button.single_add_to_cart_button{
		margin-top: 15px;
	}

    .wpb_wrapper .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper{
        width: 40%;
        display: table-cell;
    }

    .wpb_wrapper .woocommerce ul.product_list_widget li .product_list_widget_info_wrapper {
        padding-left: 20px;
    }

    .wpb_wrapper .woocommerce ul.product_list_widget {
        clear: both;
        float: left;
        margin: 5px 0;
    }

    .wpb_wrapper .woocommerce ul.product_list_widget li {
        width: 33%;
        float: left;
    }   
	
}

@media only screen and (min-width: 480px) and (max-width: 768px){
    .woocommerce-page ul.products li.product .product_info_box .info_box_column2,
    .woocommerce ul.products li.product .product_info_box .info_box_column2 {
        float: none;
        text-align: left;
        width: 100%;
        clear: both;
    }

    .woocommerce-page ul.products li.product .product_info_box .info_box_column1,
    .woocommerce ul.products li.product .product_info_box .info_box_column1 {
        margin-bottom: 5px;
    }

    .woocommerce ul.products.type1 li.product .price,
    .woocommerce-page ul.products.type1 li.product .price{
        float:none;
    }

}

@media only screen and (min-width: 480px) and (max-width: 600px){

    .woocommerce-cart .quantity,
    .woocommerce-cart #content .quantity{
        width: 85px;
    }

	.woocommerce-cart .quantity .minus, 
	.woocommerce-cart #content .quantity .minus,
	.woocommerce-cart .quantity .plus, 
	.woocommerce-cart #content .quantity .plus,
    .woocommerce-cart .quantity input.qty,
    .woocommerce-cart #content .quantity input.qty{
		width: 24px;
	}
}

@media only screen and (max-width: 600px) {

    .woocommerce .product .single_product_image_wrapper {
        float: none;
        width: 100%;
        margin-right: 0;
    }	
    
    .woocommerce .addresses header h3 {
        font-size: 18px;
    }
    
    .woocommerce div.cart-collaterals div.cart_totals, 
    .woocommerce-page .div.cart-collaterals div.cart_totals {
        float: none;
        margin-bottom: 20px;
        width: auto;
    }
    
    .woocommerce div.cart-collaterals .shipping_calculator, 
    .woocommerce-page .div.cart-collaterals .shipping_calculator {
        float: none;
        width: auto;
    }
    
    .woocommerce table.cart div.coupon, 
    .woocommerce-page table.cart div.coupon {
        float: none;
        margin-bottom: 10px;
    }
    
    .woocommerce form.check-login .form-row {
        width: 100%;
        float: none;
    }
    
    .woocommerce form.check-login .form-row input[type="text"] {
        width: 92%;
    }
    
    .woocommerce aside ul.product_list_widget li img {
        float: left;
    }
    
    .woocommerce aside ul.product_list_widget li img {
        width: auto;
    }
    
    .woocommerce .content .container .column1,
    .woocommerce-page .content .container .column1 {
        margin-bottom: 50px;
    }

    .woocommerce form.checkout_coupon input.button {
        width: 100%;
        margin-top: 15px;
		box-sizing: border-box !important;
    }

    .woocommerce-page.woocommerce-checkout div.coupon .input-text {
		width: 100%;
		padding-left: 2.833333333333333%;
		padding-right: 2.833333333333333%;
		box-sizing: border-box;
    }
    
    .woocommerce .change-pass-field {
        padding-left: 1.904761904761905%;
        padding-right: 1.904761904761905%;
        width: 96.19047619047619%;
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .woocommerce table.cart div.coupon .input-text {
        padding: 9px 3.869047619047619%;
		width: 100%;
		margin-bottom: 10px;
		box-sizing: border-box;
		text-align: center;
    }
    
    .woocommerce table.cart td.actions input[type="submit"] {
        display: block;
        width: 100%;
        text-align: center;
        box-sizing: border-box !important;
    }
    
    .woocommerce table.cart td.actions div.coupon input[type="submit"] {
        margin-bottom: 0;
    }

    .woocommerce .woocommerce-message {
        text-align: center;
    }

    .woocommerce .woocommerce-message a.button {
        float: none;
    }

    .woocommerce .woocommerce-message p {
        display: inline-block;
    }

    .woocommerce table.cart td.actions input[type="submit"] {
        padding-left: 22px !important;
        padding-right: 22px !important;
        position: relative;
        top: 3px;
    }

    .woocommerce #shiptobilling, .woocommerce-page #shiptobilling {
        position: static;
    }

    .woocommerce .summary {
        float: none;
        width: auto;
        clear: both;
    }

	.woocommerce-pagination.arrows_on_sides li .prev.page-numbers,
	.woocommerce-pagination.arrows_on_sides li .next.page-numbers {
		position: relative !important;
	}
	body.woocommerce .two_columns_33_66.woocommerce_with_sidebar .column2 .column_inner, 
	body.woocommerce.woocommerce-page .two_columns_25_75.woocommerce_with_sidebar .column2 .column_inner{
		padding-right: 30px;
		padding-left: 30px;
	}

    .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper,
    .container_inner .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper{
        width:30%;
    }

    .wpb_wrapper .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper{
        width: 40%;
        display: table-cell;
    }

    .wpb_wrapper .woocommerce ul.product_list_widget {
        margin: 10px 0;
    }

    .wpb_wrapper .woocommerce ul.product_list_widget li .product_list_widget_info_wrapper {
        padding-left: 20px;
    }

    .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper, .container_inner .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper {    
      width: 30%;    
      float: left;
    }
    .woocommerce ul.product_list_widget li .product_list_widget_info_wrapper {    
      width: 70%;    
      float: left;
    }

}

@media only screen and (max-width: 480px){
    .woocommerce.columns-3 ul.products li.product,
    .woocommerce.columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(3n),
    .woocommerce.columns-3 .woocommerce_with_sidebar ul.products li.product,
    .woocommerce.columns-4 ul.products li.product,
    .woocommerce.columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(4n),
    .woocommerce.columns-4 .woocommerce_with_sidebar ul.products li.product,
	.woocommerce.columns-5 ul.products li.product{
		width: 100%;
		margin: 0 0 3.5%;
	}    

    .woocommerce-page .related.products ul.products li.product,
	.woocommerce .related.products ul.products li.product{
		width: 100%;
		margin:0px !important;
	}
	
	.woocommerce-page  ul.products.article_no_space li.product,
	.woocommerce  ul.products.article_no_space li.product{
		width: 100% !important; 
		margin:0px !important;
	}
	
	.woocommerce .woocommerce-ordering, 
    .woocommerce .woocommerce-result-count {
        float: none;
        width: 100%;
        text-align: center;
		clear: both;
    }
	
	.woocommerce ul.products.type1.article_no_space  li.product:not(:last-child),
    .woocommerce-page ul.products.type1.article_no_space  li.product:not(:last-child),
    .woocommerce  .woocommerce_with_sidebar  ul.products.type1.article_no_space  li.product:not(:last-child),
    .woocommerce-page  .woocommerce_with_sidebar  ul.products.type1.article_no_space  li.product:not(:last-child),
    .woocommerce.columns-2 ul.products.type1.article_no_space li.product:not(:last-child),
    .woocommerce-page.columns-3 .woocommerce_with_sidebar ul.products.type1.article_no_space li.product:not(:last-child),
    .woocommerce.columns-3 ul.products.type1.article_no_space li.product:not(:last-child),
    .woocommerce-page.columns-4 .woocommerce_with_sidebar ul.products.type1.article_no_space li.product:not(:last-child),
    .woocommerce.columns-4 ul.products.type1.article_no_space li.product:not(:last-child),
    .woocommerce-page .related.products ul.products.type1.article_no_space li.product:not(:last-child),    
	.woocommerce.columns-5 ul.products.type1.article_no_space li.product:not(:last-child){
		border-bottom: 0;
	}
	
    .woocommerce ul.products, 
    .woocommerce-page ul.products {
        margin-top: 20px;
    }
	.woocommerce .woocommerce-ordering .select2-container.orderby{
		float:none;
		width:100%;
	}
	

    .woocommerce #customer_login .span-3 {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .woocommerce #customer_login input[type="text"],
    .woocommerce #customer_login input[type="password"],
    .woocommerce #customer_login input[type="email"],
    .woocommerce #customer_login #reg_email {
        width: 87.5%;
    }

    .woocommerce .addresses .col-1, .woocommerce .addresses .col-2 {
        width: 100%;
    }
    
    .woocommerce #shiptobilling, 
    .woocommerce-page #shiptobilling {
        float: none;
        width: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }
    
    .woocommerce form.checkout #order_review_heading {
        margin-top: 0;
    }
    
    .woocommerce form.checkout .col2-set .form-row.notes textarea {
        margin-bottom: 0;
    }
	
    .woocommerce-checkout .order_details.clearfix li.total,
    .woocommerce-checkout .order_details.clearfix li.method {
        margin-top: 15px;
    }
    
    .woocommerce table.cart tbody tr td img {
        display: none;
    }
    
    .woocommerce .addresses .col-1.address, 
    .woocommerce .addresses .col-2.address {
        width: 48%;
    }
	
	.woocommerce-account table td{
		padding: 5px;
	}

    .woocommerce-page .checkout table.shop_table thead tr th,
    .woocommerce table.cart thead tr th, 
    .woocommerce-page table.cart thead tr th, 
    .woocommerce-account table.my_account_orders thead tr th, 
    .woocommerce-page table.my_account_orders thead tr th,
    .woocommerce-cart table.cart tbody tr td{
        padding: 8px 3px;
    }

    .woocommerce .checkout table.shop_table thead tr th,
    .woocommerce-checkout .checkout table tbody tr td{
        padding: 8px 20px;
    }

    .woocommerce ul.products li.product .image-wrapper img{
        width: 100%;
    }

    .woocommerce-message.call_to_action .qbutton{
        margin: 15px 0 0;
    }   

    .woocommerce .quantity input.qty, 
    .woocommerce #content .quantity input.qty, 
    .woocommerce-page .quantity input.qty, 
    .woocommerce-page #content .quantity input.qty,
	.woocommerce-cart .quantity .minus,
	.woocommerce-cart #content .quantity .minus, 
	.woocommerce-cart .quantity .plus,
	.woocommerce-cart #content .quantity .plus{
        width: 20px;
    }	

    .woocommerce ul.products:not(.type1) li.product:hover .add-to-cart-button, 
    .woocommerce ul.products:not(.type1) li.product:hover .added_to_cart{
        display: none;
        opacity: 0;
        height: 0;
    }

    .woocommerce .select2-container .select2-choice .select2-arrow .select2-arrow:after, .woocommerce-page .select2-container .select2-choice .select2-arrow:after,
    .woocommerce .select2-container .select2-choice > .select2-chosen{
        text-align: left;
    }
    .woocommerce-cart .quantity,
    .woocommerce-cart #content .quantity{
        width: 75px;
    }

    .woocommerce-cart .quantity .minus,
    .woocommerce-cart #content .quantity .minus,
    .woocommerce-cart .quantity .plus,
    .woocommerce-cart #content .quantity .plus,
    .woocommerce-cart .quantity input.qty,
    .woocommerce-cart #content .quantity input.qty{
        width: 20px;
    }


	.woocommerce.single-product .cart_inner_holder button.single_add_to_cart_button{
		margin-top: 5px;
	}

    .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper, .container_inner .woocommerce ul.product_list_widget li .product_list_widget_image_wrapper {    
      width: 40%;    
      float: left;
    }
    .woocommerce ul.product_list_widget li .product_list_widget_info_wrapper {    
      width: 60%;    
      float: left;
    }
}

@media only screen and (max-width: 420px) {
    .shopping_cart_outer {
        display: none;
    }
}